<html>
    <head>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <script src="../static/index.js?ver=52"></script>

        <style>
            .item:hover {
                color: blue;
            }
            img { max-width: 100%; display: block; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron mt-3">
                <h1>Generate Article</h1>
                <p>Write your title of Article!</p>

                <textarea id="input" style="width:100%; height:10%; display: block; margin-bottom: 15px;"></textarea>
                
                <b>Result</b>
                <ul style="width:100%;" class="context"></ul>
                <button id="btn_context" class="btn btn-primary" onclick="suggestion()">Show context!</button>
                <div id="select_box">
                    <ul style="width:100%">
                        <p class="item" onclick="selection(this.innerHTML)">
                            <img src="{{url_for('static',filename='images/graph01.png')}}" width='300'/>
                        </p>
                        <p class="item" onclick="selection(this.innerHTML)">
                            <img src="{{url_for('static',filename='images/graph02.png')}}" width='300'/>
                        </p>
                        <p class="item" onclick="selection(this.innerHTML)">
                            <img src="{{url_for('static',filename='images/graph03.png')}}" width='300'/>
                        </p>
                        <p class="item" onclick="selection(this.innerHTML)">
                            <img src="{{url_for('static',filename='images/graph04.png')}}" width='300'/>
                        </p>
                    </ul>
                </div>
                <button id="btn_wordcloud" class="btn btn-primary" onclick="GenerateWordcloud()">Show WordCloud!</button>
                <button id="btn_news" class="btn btn-primary" onclick="GetNews()">Get News!</button>
            </div>
        </div>
    </body>
</html>