<html>
    <body>
        <div class="container">
            <div class="jumbotron mt-3">
                <title> {{ input }} </title>
                <h1 class="input"> {{ input }} </h1>
                {% if True %}
                <div id="selection">
                    <img src="{{ url_for('static', filename=image_file) }}" width=500/>
                </div>
                {% endif %}
                <!-- <p class="selection">images</p> -->
                <p class="content">contents</p>

                <textarea id="input" style="width:100%; height:10%; display: block; margin-bottom: 15px;"></textarea>
            </div>
        </div>
    </body>
</html>